.banner {
    margin-bottom: 60px;
}

.banner__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner__desc {
    max-width: 546px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.banner__title {
    font-family: var(--DMSB);
    font-size: clamp(1.75rem, 1.068rem + 3.41vw, 3.625rem);
    font-weight: 700;
    line-height: clamp(2.25rem, 1.159rem + 5.45vw, 5.25rem);
    letter-spacing: 0.02em;
    background: var(--gradient-txt);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner__text {
    position: relative;
    z-index: 10;
    color: var(--grey-light);
    font-family: var(--DMSM);
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}

.banner__btns {
    display: flex;
    align-items: center;
    gap: 30px;
}

.banner__join {
    position: relative;
    cursor: pointer;
    color: var(--white-link);
    font-family: var(--DMSM);
    font-size: 14px;
    font-weight: 500;
    line-height: 20.83px;
    width: 135px;
    height: 62px;
    border-radius: 6px;
    border: none;
    background: var(--gradient-btn);
    transition: var(--trans-fill);
    z-index: 1;
    overflow: hidden;
}

.banner__join:hover {
    color: var(--pink);
}

.banner__join span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: var(--white-link);
    transition: var(--trans-fill);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.banner__join:hover span {
    width: 300px;
    height: 300px;
}

.banner__watch {
    max-width: 152px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
    background: transparent;
    color: var(--white-link);
    font-family: var(--DMSM);
    font-size: 16px;
    font-weight: 500;
    line-height: 20.83px;
    border: none;
    transition: var(--trans);
}

.banner__watch-img {
    transition: var(--trans);
}

.banner__watch:hover {
    color: var(--pink);
}

.banner__watch:hover .banner__watch-img {
    rotate: 180deg;
}

.banner__img {
    max-width: 640px;
    width: 100%;
}
 
@media screen and (max-width: 1175px) {
    .banner__wrap {
        flex-direction: column;
    }

    .banner__desc {
        max-width: 554px;
    }
}