@font-face {
    font-family: Rubik-Medium;
    src: url("../fonts/Rubik-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: DMSans-Regular;
    src: url("../fonts/DMSans-Regular.woff2") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: DMSans-Medium;
    src: url("../fonts/DMSans-Medium.woff2") format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: DMSans-Bold;
    src: url("../fonts/DMSans-Bold.woff2") format("woff2");
    font-weight: 700;
}